# Logs
logs
*.log
npm-debug.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# VS Code Files
.vscode
*.vscode/
.vscode/
jsconfig.json

bundle.js
bundle.js.map

**/public/css/*
**/public/javascript/*
**/public/images/*
**/public/fonts/*
